@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inconsolata:wght@300;400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata';
    font-size: 30px;
    font-weight: 400;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
/* Defaults */
.title {
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 70px 0;
}
.subtitle {
    font-family: 'Inconsolata';
    font-size: 44px;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.active {
    color: #923CD6!important;
    background: #fff!important;
}
.show {
    display: flex!important;
}
/*  */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}
.header {
    font-size: 24px;
    font-family: 'Cabin';
    background: rgba(255, 255, 255, .25);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
}
.header__todo-block {
    display: flex;
}
.header__todo {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: #923CD6;
    padding: 0 15px;
}
.header__todo:hover {
    background: #fff;
}


.main {
    flex: 1 1 100%;
    font-family: 'Cabin';
    color: #fff;
}
.main__menu-block {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
.menu__title {
}
.menu-todo-block {
    display: flex;
    align-items: center;
    background: #31D399;
    width: 400px;
    border-radius: 0 25px 0 25px;
    padding: 0 25px 0 20px;
    box-shadow: 1px 3px 10px 1px rgb(0 0 0 / 10%);
}
.menu-block {
    display: flex;
    flex-direction: column;
}
.menu-block_completed {
    flex-direction: row;
}
.menu-block_completed > *:not(:last-child) {
    margin-right: 80px;
}
.menu__subtitle {
}
.enter__block {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}
.enter__input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 75px 0 25px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 2px 5px 1px rgba(165, 165, 165, 0.1);
    color: #fff;
}
.enter__input:focus {
    background: linear-gradient(90deg, rgba(49, 211, 153, .1),rgba(146, 60, 2146, .1));
    box-shadow:  none;
}
.enter__btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #923CD6;
}
.enter__arrow {
    width: 25px;
    height: 25px;
}
.todos-block {
}
.todos-block > *:not(:last-child) {
    margin-bottom: 15px;
}
.todo-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 0 25px 0 20px;
    background: #31D399;
    border-radius: 0 25px 0 25px;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, .1);
}
.todo-block_completed {
    background: #923CD6;
}
.todo__text {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}
.todo__number {
}

.checkbox {
    appearance: none;
    position: absolute;
    margin: 0;
}
.my-todo__text::before {
    position: absolute;
    z-index: 1;
    right: 0;
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background: #24B480;
    border-radius: 5px;
}
.my-todo__text::after {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: -3px;
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background: url(../img/checkmark.png) no-repeat;
    opacity: 0;
}
.todo__text_completed {
}
.todo__text_completed::before {
    background: #7626B5;
}
.checkbox:checked + .my-todo__text::after {
    opacity: 1;
}

.todo__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    height: 25px;
    background: #24B480;
    border-radius: 5px;
}
.delete__icon {
    width: 15px;
    height: 15px;
}
.save__btn {
    align-self: flex-end;
    display: flex;
    padding: 7px 25px;
    font-size: 16px;
    text-decoration: none;
    background: #923CD6;
    color: #fff;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 2px 3px 5px 1px rgba(70, 70, 70, 0.1);
}
@media (max-width: 1024px) {
    .menu-block_completed {
        flex-direction: column;
    }
    .menu-block_completed > *:not(:last-child) {
        margin: 0 0 60px 0;
    }
}
@media (max-width: 550px) {
    .menu-todo-block {
        width: auto;
    }
    .todo-block {
        width: auto;
    }
    .title {
        font-size: 54px;
    }
    .subtitle {
        text-align: center;
        font-size: 40px;
    }
}